{% extends 'base.html.twig' %}

{% block title %}Cart index{% endblock %}

{% block body %}
    <h1>Cart index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Title</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td><img src="{{ asset('uploads/images/' ~ item.image) }}"  alt="Product Image for {{ item.title }}"/></td>
                <td>{{ item.title }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.createdBy }}</td>
                <td>
                    <a href="{{ path('app_item_add_to_cart', {'id': item.id}) }}">add to cart</a>
                    <a href="{{ path('app_item_show', {'id': item.id}) }}">show</a>
                    <a href="{{ path('app_item_edit', {'id': item.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <form action="{{ path('app_item_complete_cart') }}" method="post" class="action">
        <button type="submit" class="btn btn-primary">BUY STUFF</button>
    </form>
{% endblock %}
